@model FastAndEasy.Models.Reception

@{
    ViewBag.Title = "EditPassword";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   <div class="mainContent admin"> 
       <h1>Change Your Password</h1>
       <p>Enter Current Password*</p>
       

       @Html.Editor("oldPass", new { htmlAttributes = new { @class = "directorInputField", @type= "password" } })

       <p>Enter New Password*</p>

       @Html.Editor("newPass", new { htmlAttributes = new { @class = "directorInputField", @type = "password" } })

       <p>Renter New Password*</p>

       @Html.Editor("newPassConfirm", new { htmlAttributes = new { @class = "directorInputField", @type = "password" } })

       <p class="text-danger">@ViewBag.Error</p>
       <input type="submit" value="Save" class="saveButton" />
       @if (User.Identity.IsAuthenticated)
       {

           var db = new FastAndEasy.Models.FastAndEasyEntities();

           int id = 0;
           string userName = User.Identity.Name;
           var student = db.Receptions.FirstOrDefault(a => a.UserName == userName || a.Email == userName);

           if (student != null)
           {
               id = db.Receptions.Where(a => (a.UserName.Equals(userName)) || (a.Email.Equals(userName))).FirstOrDefault().Id;
            <a href="@Url.Action("Index", new { id = id })"><div class="cancelButton edit">Cancel</div></a>
           }

       }
       
    </div>
}


